# Python virtual environment folders
venv/
.venv/
env/
.env/

# Python cache & bytecode files
__pycache__/
*.pyc

# IDE / Editor specific folders
.vscode/

# Operating System specific files
.DS_Store
Thumbs.db